@media only screen and (min-width: 1200px) {
    .custom-login-margin{
        margin-top: 20%;
    }

    .text-title{
        font-size: 80px;
        font-weight: bolder;
        line-height: 64px;
    }
    .overflow{
        overflow: scroll;
    }

    .margin-register-pc{
        margin-top: 1000px !important;
    }
    .pc-height-visitor-history{
        height: 570px;
    }
    .pc-height-visitor-history-chat{
        height: 450px;
    }
    .booth-btn-height{
        height: 450px;
        width: 100%;
        overflow-y: auto;
    }
    .card-inbox-ex-h{
        height: 630px;
    }
    .pc-height-exhibitor-history{
        height: 630px;
    }
    .text-title{
        font-size: 80px;
        font-weight: bolder;
        line-height: 64px;
    }
    .register-card{
        height: 1000px;
    }

    .add-staff{
        height: 500px;
    }
}


@media only screen and (max-width: 576px) {
    .custom-login-margin{
        margin-top: 60%;
    }

    .text-title{
        font-size: 48px;
        font-weight: bolder;
        line-height: 40px;
    }
    .pc-height-visitor-history-chat{
        height: 250px;
    }
    .text-title{
        font-size: 48px;
        font-weight: bolder;
        line-height: 40px;
    }


    .logo-login-mob{
        width: 25% !important;
    }

    .icon-android-mob{
        width: 50% !important;
    }


}


@media only screen and (min-width: 576px) and (max-width:1199px) {
    .custom-login-margin{
        margin-top: 50%;
    }

    .text-title{
        font-size: 48px;
        font-weight: bolder;
        line-height: 40px;
    }
}

.bell{
    display:block;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: #9e9e9e;
    -webkit-animation: ring 4s .7s ease-in-out infinite;
    -webkit-transform-origin: 50% 4px;
    -moz-animation: ring 4s .7s ease-in-out infinite;
    -moz-transform-origin: 50% 4px;
    animation: ring 4s .7s ease-in-out infinite;
    transform-origin: 50% 4px;
}


.bell:hover{
    cursor: pointer;
}
